# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
#15days environments
/Patnáct dní bolesti/Environments
#30days environments
/Třicet dní bolesti/Environments